@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.gray.100);
  --foreground: theme(colors.gray.800);
  --primary: theme(colors.blue.500);
}

.dark {
  --background: theme(colors.gray.900);
  --foreground: theme(colors.gray.100);
  --primary: theme(colors.blue.300);
}

.height {
  height: calc(100vh - (2rem + 2.5rem)); /* viewport - (line-height + padding)*/
}